<body>
<header class="head_fundo">
    <!--<img src="/assets/download.jpg" class="foto"> -->
<div class="sde">SEMANA DA ESTATISTICA UFMT</div>
</header>
<nav class="menu__geral">
    <ul class="contornos__menu">
        <li id="botes__menu" routerLink="home"><a>HOME</a></li>
        <li id="botes__menu" routerLink="palestras"><a>PALESTRAS</a></li>
        <li id="botes__menu" routerLink="onde"><a>ONDE</a></li>
        <li class="menu_botao__cadastro" routerLink="aviso"><a>CADASTRO</a></li>
    </ul>
    
</nav>
    
</body>