<h1 class="titulo1"><a>VIII</a> Semana da Estatística</h1>
<div class="caixa">
<h2 class="titulo2">O que é a estatística? </h2>
<p class="paragrafo">
    A estatística é um ramo de grande importância da matemática, desenvolvendo técnicas como a 
    coleta de dados e sua organização, interpretação, análise e representação. O uso da matemática 
    para a tomada de decisões vem acompanhando nossa história desde o início das grandes civilizações. 
    Com o passar do tempo, foram criados métodos para facilitar-se esse processo.
</p>
<p class="paragrafo">
    A estatística é dividida entre o estudo da coleta de dados, em que conhecemos os princípios da área, 
    como os conceitos de amostra, população, variável e tipo de variável; o estudo da análise desses dados,
    no qual lidamos com a frequência absoluta e relativa, as medidas centrais e as medidas de dispersão; 
    e a representação e interpretação desses resultados, em que estudamos os tipos de gráficos, a melhor 
    representação para cada caso, e, com base nessa interpretação, gerando-se também as medidas centrais,
    como a média, a moda e a mediana.
</p>
<h2 class="titulo2">Para que serve a estatística?</h2>
<p class="paragrafo">
    Os resultados de pesquisas estatísticas estão presentes a todo instante na nossa sociedade, é bastante 
    comum ver nos noticiários pesquisas de diversas naturezas que trazem para a sociedade dados para interpretação 
    e realização de inferências sobre ela. Pesquisas estão sendo feitas constantemente tendo em vista a tomada 
    de decisões, e elas se utilizam das ferramentas da estatística desde os primeiros passos até a representação 
    gráfica, que pode ser de cunho político, ambiental ou da saúde.
</p>
<p class="paragrafo">
    Um exemplo é o uso dos dados relacionados à quantidade de casos da doença COVID-19, que faz com que estados, 
    municípios e o Ministério da Saúde tomem decisões com base no que foi coletado. Até mesmo na busca por uma vacina 
    para uma doença, há a necessidade da realização de pesquisas para avaliar-se a eficácia dela, o que demonstra essa 
    eficácia são os dados coletados e trabalhados estatisticamente.
</p>
<p class="paragrafo">
    A estatística está presente nas decisões simples até nas mais complexas do nosso cotidiano, e essas informações não 
    podem ou não deveriam ser repassadas de qualquer maneira. Existem regras específicas para a coleta de dados, para sua 
    análise e até mesmo para a definição da estimativa de confiabilidade da pesquisa, enfim, todas essas regras surgem 
    baseadas em ferramentas desenvolvidas no estudo da estatística.
</p>
</div>